{% extends 'base.html.twig' %}
{% block title %}Peliculas{% endblock %}
{% block body %}

    <h1>Peliculas</h1>

    <h2>Bienvenido a la web de Peliculas.</h2>

    <p>Página de inicio</p>

{% endblock %}
